@font-face{
    font-family:"boldfont";
    src:url('../font/theboldfont.ttf');
}
@font-face{
    font-family:"frank";
    src:url('../font/franklin.ttf');
}
/******

Color Guide:

Tsundere ffff33
Yandere  ff3366
Kuudere  3366cc
Deredere ff33ff
Dandere  cc3399
Himedere

/*******

Table of Contents:

sec1: header
sec2: face
sec3: submit section
sec4: navigation

*******/
h3,h4{
    display:inline;
}
a{
    text-decoration:none;
}
body{
    padding:0;
    margin:0;
    background-color:white;
    height:auto;
    font-family:"frank",Helvetica,sans-serif;
}

input{
    text-decoration:none;
}
#whole-app{
    width:100%;
    margin:0 auto;
    text-align:center;
    height:auto;
    background-color:#ff33ff;
}
.clear{
    clear:both;
}
/******

sec0 Dere Type

******/
#desu-faces *{
    box-sizing:border-box;
}
#desu-faces:before #desu-faces:after{
    display:table;
    clear:both;
}
.desu-section{
    height:30px;
    display:inline-block;
    border-right:1px solid white;
    width:20%;
    color:black;
    background-color:white;
    text-align:center;
}
.desu-section:hover{
    color:white;
    background-color:#33ff66;
}
.desu-section h3{
    position:relative;
    top:5px;
}
.desu-active{
    color:white;
    background-color:#33ff66;
}
/******

sec1 Header section

******/
#top-header{
    margin:0 auto;
    position:fixed;
    height:50px;
    width:100%;
    background-color:#33ff66;
    color:white;
    text-align:center;
}
#top-header h4{
    position:relative;
    top:12px;
}
.top-arrow{
    position:relative;
    background-color:#33ff66;
    top:25px;
    height:20px;
    width:20px;
    left:50%;
    -webkit-transform:rotate(45deg) translateX(-50%);
}
/******

sec2 Face Section

******/
#face{
    min-height:1px;
    padding-top:70px;
    width:100%;
    height:auto;
    margin:10px auto;
}
#face-section{
    margin:0 auto;
    width:256px;
    height:256px;
    margin-bottom:10px;
}
#face-eye1{
    background:url(../img/stuff/pissed.png);
    background-size:96px 96px;
    position:relative;
    float:left;
    left:10px;
    top:30px;
    width:96px;
    height:96px;
    -webkit-transform: scaleX(-1);
}
#face-eye2{
    background:url(../img/stuff/pissed.png);
    background-size:96px 96px;
    position:relative;
    float:right;
    right:10px;
    top:30px;
    width:96px;
    height:96px;
}
#face-mouth{
    margin:0 auto;
    background:url(../img/stuff/mouth0000.png);
    background-size:192px 96px;
    position:relative;
    top:40px;
    width:192px;
    height:96px;
}
#blushy1{
    position:relative;
    float:left;
    height:32px;
    width:64px;
    top:10px;
    background:url(../img/stuff/Blush0000.png);
}
#blushy2{
    position:relative;
    float:right;
    height:32px;
    width:64px;
    top:10px;
    background:url(../img/stuff/Blush0000.png);
}
/******

sec3 submit section

******/
#submit{
    border-radius:10px;
    padding:10px;
    margin:0 auto;
    width:250px;
    background-color:white;
    -webkit-box-shadow: 0px 10px 5px -8px rgba(0,0,0,0.75);
}
#submit form{
    margin:0 auto;
    width:200px;
}
form label{
    font-size:18px;
    margin-bottom:5px;
}
.submit-text{
    margin-top:10px;
}
.submit-button{
    margin-top:10px;
    border:none;
    color:white;
    height:25px;
    width:100px;
    background-color:#33ff66;
}
/******

sec4 navigation button

*******/
#app-nav{
    position:fixed;
    width:100%;
    height:50px;
    top: calc(100%-50px);
    background-color:#33ff66;
}
/******

sec5 splash screen

******/
#splashId{
    margin:0 auto;
    width:100%;
    height:700px;
}
#splash-center{
    margin:0 auto;
    position:absolute;
    top:50%;
    left:50%;
    -webkit-transform:translate(-50%,-50%);
}
#index-button{
    margin:0 auto;
    position:absolute;
    top:75%;
    left:50%;
    -webkit-transform:translate(-50%,-50%);
    background-color:#ff33ff;
    color:white;
    height:50px;
    width:100px;
    text-align:center;
    border-radius:15px;
}
#index-button:hover{
    background-color:#ff6633;
    color:white;
}
#index-text{
    position:relative;
    top:12px;
}
/******

    keyframes

******/
