@font-face{
    font-family:"boldfont";
    src:url('../font/theboldfont.ttf');
}
/******

Color Guide:

Tsundere
Yandere
Kuudere
Deredere
Dandere
Himedere

/*******

Table of Contents:

sec1: header
sec2: face
sec3: submit section
sec4: navigation

*******/
h3{
    display:inline;
}
a{
    text-decoration:none;
}
body{
    padding:0;
    margin:0;
    background-color:white;
    height:auto;
    font-family:"boldfont",Helvetica,sans-serif;
}

input{
    text-decoration:none;
}
#whole-app{
    width:100%;
    margin:0 auto;
    text-align:center;
    height:auto;
    background-color:#ff33ff;
}
.clear{
    clear:both;
}
/******

sec0 Dere Type

******/
#desu-faces *{
    box-sizing:border-box;
}
#desu-faces:before #desu-faces:after{
    display:table;
    clear:both;
}
.desu-section{
    height:30px;
    display:inline-block;
    border-right:1px solid white;
    width:20%;
    color:black;
    background-color:white;
    text-align:center;
}
.desu-section:hover{
    color:white;
    background-color:#ff33ff;
}
.desu:active{
    background-color:#ff3366;
}
.desu-section h3{
    position:relative;
    top:5px;
}
.desu-active{
    color:white;
    background-color:#ff3366;
}
/******

sec1 Header section

******/
#top-header{
    margin:0 auto;
    position:fixed;
    height:50px;
    width:100%;
    background-color:#ff3366;
    color:white;
    text-align:center;
}
.top-arrow{
    position:relative;
    background-color:#ff3366;
    top:40px;
    height:20px;
    width:20px;
    left:50%;
    -webkit-transform:rotate(45deg);
    webkit-transform:translateX(-50%);
}
/******

sec2 Face Section

******/
#face{
    min-height:1px;
    padding-top:70px;
    width:100%;
    height:auto;
    margin:10px auto;
}
#face img{
    width:256px;
    height:256px;
    margin-bottom:10px;
}

/******

sec3 submit section

******/
#submit{
    border-radius:10px;
    padding:10px;
    margin:0 auto;
    border:1px solid black;
    width:250px;
    background-color:white;
}
#submit form{
    margin:0 auto;
    width:200px;
}
form label{
    font-size:18px;
    margin-bottom:5px;
}
.submit-text{

}
.submit-button{
    border:none;
    background-color:white;
}
/******

sec4 navigation button

*******/
#app-nav{
    position:fixed;
    width:100%;
    height:50px;
    top: calc(100%-50px);
    background-color:#ff3366;
}
/******

sec5 splash screen

******/
#splashId{

    margin:0 auto;
    width:100%;
    height:700px;
}
#splash-center{
    margin:0 auto;
    position:absolute;
    top:50%;
    left:50%;
    -webkit-transform:translate(-50%,-50%);
}