/******

Color Guide:

Tsundere
Yandere
Kuudere
Deredere
Dandere
Himedere

/*******

Table of Contents:

sec1: header
sec2: face
sec3: submit section
sec4: navigation

*******/
a{
    text-decoration:none;
}
body{
    padding:0;
    margin:0;
    background-color:white;
    height:auto;
}

input{
    text-decoration:none;
}
#whole-app{
    width:100%;
    margin:0 auto;
    text-align:center;
}
/******

sec0 Dere Type

******/
#desu-faces *{
    box-sizing:border-box;
}
#desu-faces:before #desu-faces:after{
    display:table;
    clear:both;
}
.desu-section{
    display:inline-block;
    width:20%;
    color:black;
}
.desu-section:hover{
    color:white;
    background-color:#ff33ff;
}
.desu:active{
    background-color:#ff3366;
}
/******

sec1 Header section

******/
#top-header{
    margin:0 auto;
    position:fixed;
    height:50px;
    width:100%;
    background-color:#ffaa33;
    text-align:center;
    border-radius:5px;
}
/******

sec2 Face Section

******/
#face{
    min-height:1px;
    padding-top:50px;
    width:100%;
    height:auto;
    margin:0 auto;
}
#face img{
    width:auto;
    height:auto;
    margin:0 auto;
}

/******

sec3 submit section

******/
#submit{
    width:100%;
}
#submit form{
    margin:0 auto;
    width:50%;
}
/******

sec4 navigation button

*******/
#app-nav{
    position:fixed;
    width:100%;
    height:50px;
    top: calc(100%-50px);
    background-color:#ffaa33;
}
/******

sec5 splash screen

******/
#splashId{
    
    margin:0 auto;
    width:100%;
    min-height:540px;
    height:auto;
}
#splash-center{
    margin:0 auto;
    position:absolute;
    top:50%;
    left:50%;
    -webkit-transform:translate(-50%,-50%);
}